@media only screen and (min-width: 767px) {
  .align-to-bottom {
    bottom: 0;
    position: absolute;
  }
}

.bg-100px {
  margin: 0;
  background-image: url("/assets/bg-home-100px.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 12px;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}


/*Am adaugat cod pentru pozitionare buna a imaginilor din card*/
/*imaginile vor avea aproximativ 300x500 pixel, de aceea chiar asa am pus div-ul*/

/*.books-list>.book-item>.image {*/
/*  display: inline-block;*/
/*  width: 20$;*/
/*  height: 500px;*/

/*}*/
/*.books-list>.book-item>.content {*/
/*  display: inline-block;*/
/*  min-width: 300px;*/
/*  height: 500px;*/

/*}*/
